{% extends 'base.html' %}
{% block content %}
    <!-- Categorie Menu & Slider Area Start Here -->
    <div class="main-page-banner home-3">
        <div class="container">
            <div class="row">
                <!-- Vertical Menu Start Here -->
                <div class="col-xl-3 col-lg-4 d-none d-lg-block">
                    <div class="vertical-menu mb-all-30">
                        <nav>
                            <ul class="vertical-menu-list">
                                <li class=""><a href="shop.html"><span><img src="img/vertical-menu/1.png" alt="menu-icon"></span>Automotive & Motorcycle<i class="fa fa-angle-right" aria-hidden="true"></i></a>

                                    <ul class="ht-dropdown mega-child">
                                        <li><a href="shop.html">Office chair <i class="fa fa-angle-right"></i></a>
                                             <!-- category submenu end-->
                                            <ul class="ht-dropdown mega-child">
                                                <li><a href="shop.html">Bibendum Cursus</a></li>
                                                <li><a href="shop.html">Dignissim Turpis</a></li>
                                                <li><a href="shop.html">Dining room</a></li>
                                                <li><a href="shop.html">Dining room</a></li>
                                            </ul>
                                            <!-- category submenu end-->
                                        </li>
                                        <li><a href="shop.html">Purus Lacus <i class="fa fa-angle-right"></i></a>
                                             <!-- category submenu end-->
                                            <ul class="ht-dropdown mega-child">
                                                <li><a href="shop.html">Magna Pellentesq</a></li>
                                                <li><a href="shop.html">Molestie Tortor</a></li>
                                                <li><a href="shop.html">Vehicula Element</a></li>
                                                <li><a href="shop.html">Sagittis Blandit</a></li>
                                            </ul>
                                            <!-- category submenu end-->
                                        </li>
                                        <li><a href="shop.html">Sagittis Eget</a></li>
                                        <li><a href="shop.html">Sagittis Eget</a></li>
                                    </ul>
                                    <!-- category submenu end-->
                                </li>
                                <li><a href="shop.html"><span><img src="img/vertical-menu/3.png" alt="menu-icon"></span>Sports & Outdoors<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    <!-- Vertical Mega-Menu Start -->
                                    <ul class="ht-dropdown megamenu first-megamenu">
                                        <!-- Single Column Start -->
                                        <li class="single-megamenu">
                                            <ul>
                                                <li class="menu-tile">Cameras</li>
                                                <li><a href="shop.html">Cords and Cables</a></li>
                                                <li><a href="shop.html">gps accessories</a></li>
                                                <li><a href="shop.html">Microphones</a></li>
                                                <li><a href="shop.html">Wireless Transmitters</a></li>
                                            </ul>
                                            <ul>
                                                <li class="menu-tile">GamePad</li>
                                                <li><a href="shop.html">real game hd</a></li>
                                                <li><a href="shop.html">fighting game</a></li>
                                                <li><a href="shop.html">racing pad</a></li>
                                                <li><a href="shop.html">puzzle pad</a></li>
                                            </ul>
                                        </li>
                                        <!-- Single Column End -->
                                        <!-- Single Column Start -->
                                        <li class="single-megamenu">
                                            <ul>
                                                <li class="menu-tile">Digital Cameras</li>
                                                <li><a href="shop.html">Camera one</a></li>
                                                <li><a href="shop.html">Camera two</a></li>
                                                <li><a href="shop.html">Camera three</a></li>
                                                <li><a href="shop.html">Camera four</a></li>
                                            </ul>
                                            <ul>
                                                <li class="menu-tile">Virtual Reality</li>
                                                <li><a href="shop.html">Reality one</a></li>
                                                <li><a href="shop.html">Reality two</a></li>
                                                <li><a href="shop.html">Reality three</a></li>
                                                <li><a href="shop.html">Reality four</a></li>
                                            </ul>
                                        </li>
                                        <!-- Single Column End -->
                                        <!-- Single Megamenu Image Start -->
                                        <li class="megamenu-img">
                                            <a href="shop.html"><img src="img/vertical-menu/sub-img1.jpg" alt="menu-image"></a>
                                            <a href="shop.html"><img src="img/vertical-menu/sub-img2.jpg" alt="menu-image"></a>
                                            <a href="shop.html"><img src="img/vertical-menu/sub-img3.jpg" alt="menu-image"></a>
                                        </li>
                                        <!-- Single Megamenu Image End -->
                                    </ul>
                                    <!-- Vertical Mega-Menu End -->
                                </li>
                                <li><a href="shop.html"><span><img src="img/vertical-menu/6.png" alt="menu-icon"></span>Fashion<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    <!-- Vertical Mega-Menu Start -->
                                    <ul class="ht-dropdown megamenu megamenu-two">
                                        <!-- Single Column Start -->
                                        <li class="single-megamenu">
                                            <ul>
                                                <li class="menu-tile">Men’s Fashion</li>
                                                <li><a href="shop.html">Blazers</a></li>
                                                <li><a href="shop.html">Boots</a></li>
                                                <li><a href="shop.html">pants</a></li>
                                                <li><a href="shop.html">Tops & Tees</a></li>
                                            </ul>
                                        </li>
                                        <!-- Single Column End -->
                                        <!-- Single Column Start -->
                                        <li class="single-megamenu">
                                            <ul>
                                                <li class="menu-tile">Women’s Fashion</li>
                                                <li><a href="shop.html">Bags</a></li>
                                                <li><a href="shop.html">Bottoms</a></li>
                                                <li><a href="shop.html">Shirts</a></li>
                                                <li><a href="shop.html">Tailored</a></li>
                                            </ul>
                                        </li>
                                        <!-- Single Column End -->
                                    </ul>
                                    <!-- Vertical Mega-Menu End -->
                                </li>
                                <li><a href="shop.html"><span><img src="img/vertical-menu/7.png" alt="menu-icon"></span>Home & Kitchen<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    <!-- Vertical Mega-Menu Start -->
                                    <ul class="ht-dropdown megamenu megamenu-two">
                                        <!-- Single Column Start -->
                                        <li class="single-megamenu">
                                            <ul>
                                                <li class="menu-tile">Large Appliances</li>
                                                <li><a href="shop.html">Armchairs</a></li>
                                                <li><a href="shop.html">Bunk Bed</a></li>
                                                <li><a href="shop.html">Mattress</a></li>
                                                <li><a href="shop.html">Sideboard</a></li>
                                            </ul>
                                        </li>
                                        <!-- Single Column End -->
                                        <!-- Single Column Start -->
                                        <li class="single-megamenu">
                                            <ul>
                                                <li class="menu-tile">Small Appliances</li>
                                                <li><a href="shop.html">Bootees Bags</a></li>
                                                <li><a href="shop.html">Jackets</a></li>
                                                <li><a href="shop.html">Shelf</a></li>
                                                <li><a href="shop.html">Shoes</a></li>
                                            </ul>
                                        </li>
                                        <!-- Single Column End -->
                                    </ul>
                                    <!-- Vertical Mega-Menu End -->
                                </li>
                                <li><a href="shop.html"><span><img src="img/vertical-menu/4.png" alt="menu-icon"></span>Phones & Tablets<i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                                    <!-- Vertical Mega-Menu Start -->
                                    <ul class="ht-dropdown megamenu megamenu-two">
                                        <!-- Single Column Start -->
                                        <li class="single-megamenu">
                                            <ul>
                                                <li class="menu-tile">Tablet</li>
                                                <li><a href="shop.html">tablet one</a></li>
                                                <li><a href="shop.html">tablet two</a></li>
                                                <li><a href="shop.html">tablet three</a></li>
                                                <li><a href="shop.html">tablet four</a></li>
                                            </ul>
                                        </li>
                                        <!-- Single Column End -->
                                        <!-- Single Column Start -->
                                        <li class="single-megamenu">
                                            <ul>
                                                <li class="menu-tile">Smartphone</li>
                                                <li><a href="shop.html">phone one</a></li>
                                                <li><a href="shop.html">phone two</a></li>
                                                <li><a href="shop.html">phone three</a></li>
                                                <li><a href="shop.html">phone four</a></li>
                                            </ul>
                                        </li>
                                        <!-- Single Column End -->
                                    </ul>
                                    <!-- Vertical Mega-Menu End -->
                                </li>
                                <li><a href="shop.html"><span><img src="img/vertical-menu/6.png" alt="menu-icon"></span>TV & Video<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    <!-- Vertical Mega-Menu Start -->
                                    <ul class="ht-dropdown megamenu megamenu-two">
                                        <!-- Single Column Start -->
                                        <li class="single-megamenu">
                                            <ul>
                                                <li class="menu-tile">Gaming Desktops</li>
                                                <li><a href="shop.html">Alpha Desktop</a></li>
                                                <li><a href="shop.html">rober Desktop</a></li>
                                                <li><a href="shop.html">Ultra Desktop </a></li>
                                                <li><a href="shop.html">beta desktop</a></li>
                                            </ul>
                                        </li>
                                        <!-- Single Column End -->
                                        <!-- Single Column Start -->
                                        <li class="single-megamenu">
                                            <ul>
                                                <li class="menu-tile">Women’s Fashion</li>
                                                <li><a href="shop.html">3D-Capable</a></li>
                                                <li><a href="shop.html">Clearance</a></li>
                                                <li><a href="shop.html">Free Shipping Eligible</a></li>
                                                <li><a href="shop.html">On Sale</a></li>
                                            </ul>
                                        </li>
                                        <!-- Single Column End -->
                                    </ul>
                                    <!-- Vertical Mega-Menu End -->
                                </li>
                                 <li><a href="shop.html"><span><img src="img/vertical-menu/5.png" alt="menu-icon"></span>Beauty</a>
                                </li>
                                <li><a href="shop.html"><span><img src="img/vertical-menu/8.png" alt="menu-icon"></span>Fruits & Veggies</a></li>
                                <li><a href="shop.html"><span><img src="img/vertical-menu/9.png" alt="menu-icon"></span>Computer & Laptop</a></li>
                                <li><a href="shop.html"><span><img src="img/vertical-menu/10.png" alt="menu-icon"></span>Meat & Seafood</a></li>
                                <!-- More Categoies Start -->
                                <li id="cate-toggle" class="category-menu v-cat-menu">
                                    <ul>
                                        <li class="has-sub"><a href="#">More Categories</a>
                                            <ul class="category-sub">
                                                <li><a href="shop.html"><span><img src="img/vertical-menu/11.png" alt="menu-icon"></span>Accessories</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <!-- More Categoies End -->
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Vertical Menu End Here -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Categorie Menu & Slider Area End Here -->
    <!-- Breadcrumb Start -->
    <div class="breadcrumb-area mt-30">
        <div class="container">
            <div class="breadcrumb">
                <ul class="d-flex align-items-center">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/compare/">Compare Product</a></li>
                </ul>
            </div>
        </div>
        <!-- Container End -->
    </div>
    <!-- Breadcrumb End -->
     <!-- Compare Page Start -->
    <div class="compare-product ptb-100 ptb-sm-60">
        <div class="container">
            <div class="table-responsive-sm">
                <table class="table text-center compare-content">
                    <tbody>
                        <tr>
                            <td class="product-title">Product</td>
                            {% for com in compare_list %}
                            <td class="product-description">
                                <div class="compare-details">
                                    <div class="compare-detail-img">
                                        <a href="/product/{{ com.product.id }}/"><img src="/media/{{ com.product.logo }}/" alt=""></a>
                                    </div>
                                    <div class="compare-detail-content">
                                        <span>{{ com.product.category.title }}</span>
                                        <h4><a href="/product/{{ com.product.id }}/">{{ com.product.title }}</a></h4>
                                    </div>
                                </div>
                            </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="product-title">Description</td>
                            {% for com in compare_list %}
                            <td class="product-description">
                                <p>{{ com.product.description }}</p>
                            </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="product-title">Price</td>
                            {% for com in compare_list %}
                            <td class="product-description">{{ com.product.price }} tg</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="product-title">Size</td>
                            {% for com in compare_list %}
                            <td class="product-description">{{ com.product.size.title }} gm</td>
                            {% endfor %}
                        </tr>
<!--                        <tr>-->
<!--                            <td class="product-title">Stock</td>-->
<!--                            <td class="product-description">In Stock</td>-->
<!--                            <td class="product-description">Stock Out</td>-->
<!--                            <td class="product-description">In Stock</td>-->
<!--                        </tr>-->
                        <tr>
                            <td class="product-title">Rating</td>
                            {% for com in compare_list %}
                            <td class="product-description">
                                <div class="product-rating">
                                    {% if com.product.rating > 0 %}
                                    <i class="fa fa-star"></i>
                                    {% endif %}
                                    {% if com.product.rating > 1 %}
                                    <i class="fa fa-star"></i>
                                    {% endif %}
                                    {% if com.product.rating > 2 %}
                                    <i class="fa fa-star"></i>
                                    {% endif %}
                                    {% if com.product.rating > 3 %}
                                    <i class="fa fa-star"></i>
                                    {% endif %}
                                    {% if com.product.rating > 4 %}
                                    <i class="fa fa-star"></i>
                                    {% endif %}
                                </div>
                            </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="product-title">Add to cart</td>
                            {% for com in compare_list %}
                            <td class="product-description">
                                <form action="/cart/" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="add_to_cart">
                                    <input type="hidden" name="product_id" value="{{ com.product.id }}">
                                    <input type="hidden" name="amount" value="1">
                                    <input type="hidden" name="return_url" value="/compare/">
                                    <button class="compare-cart text-uppercase" > + add to cart</button>
                                </form>
                            </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="product-title">Delete</td>
                            {% for com in compare_list %}
                            <td class="product-description">
                                <form action="/cart/" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="remove_from_compare_list">
                                    <input type="hidden" name="product_id" value="{{ com.product.id }}">
                                    <input type="hidden" name="return_url" value="/compare/">
                                    <button class="compare-cart text-uppercase" style="background-color: white; border: none;"><i class="fa fa-trash-o"></i></button>
                                </form>
                            </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Compare Page End -->
    <!-- Support Area Start Here -->
    <div class="support-area bdr-top">
        <div class="container">
            <div class="d-flex flex-wrap text-center">
                <div class="single-support">
                    <div class="support-icon">
                        <i class="lnr lnr-gift"></i>
                    </div>
                    <div class="support-desc">
                        <h6>Great Value</h6>
                        <span>Nunc id ante quis tellus faucibus dictum in eget.</span>
                    </div>
                </div>
                <div class="single-support">
                    <div class="support-icon">
                        <i class="lnr lnr-rocket" ></i>
                    </div>
                    <div class="support-desc">
                        <h6>Worlwide Delivery</h6>
                        <span>Quisque posuere enim augue, in rhoncus diam dictum non</span>
                    </div>
                </div>
                <div class="single-support">
                    <div class="support-icon">
                       <i class="lnr lnr-lock"></i>
                    </div>
                    <div class="support-desc">
                        <h6>Safe Payment</h6>
                        <span>Duis suscipit elit sem, sed mattis tellus accumsan.</span>
                    </div>
                </div>
                <div class="single-support">
                    <div class="support-icon">
                       <i class="lnr lnr-enter-down"></i>
                    </div>
                    <div class="support-desc">
                        <h6>Shop Confidence</h6>
                        <span>Faucibus dictum suscipit eget metus. Duis  elit sem, sed.</span>
                    </div>
                </div>
                <div class="single-support">
                    <div class="support-icon">
                       <i class="lnr lnr-users"></i>
                    </div>
                    <div class="support-desc">
                        <h6>24/7 Help Center</h6>
                        <span>Quisque posuere enim augue, in rhoncus diam dictum non.</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container End -->
    </div>
    <!-- Support Area End Here -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $('.js-compare-active').addClass('active');
</script>
{% endblock %}