{% extends 'base.html' %}
{% block content %}
    <!-- Categorie Menu & Slider Area Start Here -->
    <div class="main-page-banner home-3">
        <div class="container">
            <div class="row">
                <!-- Vertical Menu Start Here -->
                <div class="col-xl-3 col-lg-4 d-none d-lg-block">
                    <div class="vertical-menu mb-all-30">
                        <nav>
                            <ul class="vertical-menu-list">
                                <li class=""><a href="shop.html"><span><img src="img/vertical-menu/1.png" alt="menu-icon"></span>Automotive & Motorcycle<i class="fa fa-angle-right" aria-hidden="true"></i></a>

                                    <ul class="ht-dropdown mega-child">
                                        <li><a href="shop.html">Office chair <i class="fa fa-angle-right"></i></a>
                                             <!-- category submenu end-->
                                            <ul class="ht-dropdown mega-child">
                                                <li><a href="shop.html">Bibendum Cursus</a></li>
                                                <li><a href="shop.html">Dignissim Turpis</a></li>
                                                <li><a href="shop.html">Dining room</a></li>
                                                <li><a href="shop.html">Dining room</a></li>
                                            </ul>
                                            <!-- category submenu end-->
                                        </li>
                                        <li><a href="shop.html">Purus Lacus <i class="fa fa-angle-right"></i></a>
                                             <!-- category submenu end-->
                                            <ul class="ht-dropdown mega-child">
                                                <li><a href="shop.html">Magna Pellentesq</a></li>
                                                <li><a href="shop.html">Molestie Tortor</a></li>
                                                <li><a href="shop.html">Vehicula Element</a></li>
                                                <li><a href="shop.html">Sagittis Blandit</a></li>
                                            </ul>
                                            <!-- category submenu end-->
                                        </li>
                                        <li><a href="shop.html">Sagittis Eget</a></li>
                                        <li><a href="shop.html">Sagittis Eget</a></li>
                                    </ul>
                                    <!-- category submenu end-->
                                </li>
                                <li><a href="shop.html"><span><img src="img/vertical-menu/3.png" alt="menu-icon"></span>Sports & Outdoors<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    <!-- Vertical Mega-Menu Start -->
                                    <ul class="ht-dropdown megamenu first-megamenu">
                                        <!-- Single Column Start -->
                                        <li class="single-megamenu">
                                            <ul>
                                                <li class="menu-tile">Cameras</li>
                                                <li><a href="shop.html">Cords and Cables</a></li>
                                                <li><a href="shop.html">gps accessories</a></li>
                                                <li><a href="shop.html">Microphones</a></li>
                                                <li><a href="shop.html">Wireless Transmitters</a></li>
                                            </ul>
                                            <ul>
                                                <li class="menu-tile">GamePad</li>
                                                <li><a href="shop.html">real game hd</a></li>
                                                <li><a href="shop.html">fighting game</a></li>
                                                <li><a href="shop.html">racing pad</a></li>
                                                <li><a href="shop.html">puzzle pad</a></li>
                                            </ul>
                                        </li>
                                        <!-- Single Column End -->
                                        <!-- Single Column Start -->
                                        <li class="single-megamenu">
                                            <ul>
                                                <li class="menu-tile">Digital Cameras</li>
                                                <li><a href="shop.html">Camera one</a></li>
                                                <li><a href="shop.html">Camera two</a></li>
                                                <li><a href="shop.html">Camera three</a></li>
                                                <li><a href="shop.html">Camera four</a></li>
                                            </ul>
                                            <ul>
                                                <li class="menu-tile">Virtual Reality</li>
                                                <li><a href="shop.html">Reality one</a></li>
                                                <li><a href="shop.html">Reality two</a></li>
                                                <li><a href="shop.html">Reality three</a></li>
                                                <li><a href="shop.html">Reality four</a></li>
                                            </ul>
                                        </li>
                                        <!-- Single Column End -->
                                        <!-- Single Megamenu Image Start -->
                                        <li class="megamenu-img">
                                            <a href="shop.html"><img src="img/vertical-menu/sub-img1.jpg" alt="menu-image"></a>
                                            <a href="shop.html"><img src="img/vertical-menu/sub-img2.jpg" alt="menu-image"></a>
                                            <a href="shop.html"><img src="img/vertical-menu/sub-img3.jpg" alt="menu-image"></a>
                                        </li>
                                        <!-- Single Megamenu Image End -->
                                    </ul>
                                    <!-- Vertical Mega-Menu End -->
                                </li>
                                <li><a href="shop.html"><span><img src="img/vertical-menu/6.png" alt="menu-icon"></span>Fashion<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    <!-- Vertical Mega-Menu Start -->
                                    <ul class="ht-dropdown megamenu megamenu-two">
                                        <!-- Single Column Start -->
                                        <li class="single-megamenu">
                                            <ul>
                                                <li class="menu-tile">Men’s Fashion</li>
                                                <li><a href="shop.html">Blazers</a></li>
                                                <li><a href="shop.html">Boots</a></li>
                                                <li><a href="shop.html">pants</a></li>
                                                <li><a href="shop.html">Tops & Tees</a></li>
                                            </ul>
                                        </li>
                                        <!-- Single Column End -->
                                        <!-- Single Column Start -->
                                        <li class="single-megamenu">
                                            <ul>
                                                <li class="menu-tile">Women’s Fashion</li>
                                                <li><a href="shop.html">Bags</a></li>
                                                <li><a href="shop.html">Bottoms</a></li>
                                                <li><a href="shop.html">Shirts</a></li>
                                                <li><a href="shop.html">Tailored</a></li>
                                            </ul>
                                        </li>
                                        <!-- Single Column End -->
                                    </ul>
                                    <!-- Vertical Mega-Menu End -->
                                </li>
                                <li><a href="shop.html"><span><img src="img/vertical-menu/7.png" alt="menu-icon"></span>Home & Kitchen<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    <!-- Vertical Mega-Menu Start -->
                                    <ul class="ht-dropdown megamenu megamenu-two">
                                        <!-- Single Column Start -->
                                        <li class="single-megamenu">
                                            <ul>
                                                <li class="menu-tile">Large Appliances</li>
                                                <li><a href="shop.html">Armchairs</a></li>
                                                <li><a href="shop.html">Bunk Bed</a></li>
                                                <li><a href="shop.html">Mattress</a></li>
                                                <li><a href="shop.html">Sideboard</a></li>
                                            </ul>
                                        </li>
                                        <!-- Single Column End -->
                                        <!-- Single Column Start -->
                                        <li class="single-megamenu">
                                            <ul>
                                                <li class="menu-tile">Small Appliances</li>
                                                <li><a href="shop.html">Bootees Bags</a></li>
                                                <li><a href="shop.html">Jackets</a></li>
                                                <li><a href="shop.html">Shelf</a></li>
                                                <li><a href="shop.html">Shoes</a></li>
                                            </ul>
                                        </li>
                                        <!-- Single Column End -->
                                    </ul>
                                    <!-- Vertical Mega-Menu End -->
                                </li>
                                <li><a href="shop.html"><span><img src="img/vertical-menu/4.png" alt="menu-icon"></span>Phones & Tablets<i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                                    <!-- Vertical Mega-Menu Start -->
                                    <ul class="ht-dropdown megamenu megamenu-two">
                                        <!-- Single Column Start -->
                                        <li class="single-megamenu">
                                            <ul>
                                                <li class="menu-tile">Tablet</li>
                                                <li><a href="shop.html">tablet one</a></li>
                                                <li><a href="shop.html">tablet two</a></li>
                                                <li><a href="shop.html">tablet three</a></li>
                                                <li><a href="shop.html">tablet four</a></li>
                                            </ul>
                                        </li>
                                        <!-- Single Column End -->
                                        <!-- Single Column Start -->
                                        <li class="single-megamenu">
                                            <ul>
                                                <li class="menu-tile">Smartphone</li>
                                                <li><a href="shop.html">phone one</a></li>
                                                <li><a href="shop.html">phone two</a></li>
                                                <li><a href="shop.html">phone three</a></li>
                                                <li><a href="shop.html">phone four</a></li>
                                            </ul>
                                        </li>
                                        <!-- Single Column End -->
                                    </ul>
                                    <!-- Vertical Mega-Menu End -->
                                </li>
                                <li><a href="shop.html"><span><img src="img/vertical-menu/6.png" alt="menu-icon"></span>TV & Video<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    <!-- Vertical Mega-Menu Start -->
                                    <ul class="ht-dropdown megamenu megamenu-two">
                                        <!-- Single Column Start -->
                                        <li class="single-megamenu">
                                            <ul>
                                                <li class="menu-tile">Gaming Desktops</li>
                                                <li><a href="shop.html">Alpha Desktop</a></li>
                                                <li><a href="shop.html">rober Desktop</a></li>
                                                <li><a href="shop.html">Ultra Desktop </a></li>
                                                <li><a href="shop.html">beta desktop</a></li>
                                            </ul>
                                        </li>
                                        <!-- Single Column End -->
                                        <!-- Single Column Start -->
                                        <li class="single-megamenu">
                                            <ul>
                                                <li class="menu-tile">Women’s Fashion</li>
                                                <li><a href="shop.html">3D-Capable</a></li>
                                                <li><a href="shop.html">Clearance</a></li>
                                                <li><a href="shop.html">Free Shipping Eligible</a></li>
                                                <li><a href="shop.html">On Sale</a></li>
                                            </ul>
                                        </li>
                                        <!-- Single Column End -->
                                    </ul>
                                    <!-- Vertical Mega-Menu End -->
                                </li>
                                 <li><a href="shop.html"><span><img src="img/vertical-menu/5.png" alt="menu-icon"></span>Beauty</a>
                                </li>
                                <li><a href="shop.html"><span><img src="img/vertical-menu/8.png" alt="menu-icon"></span>Fruits & Veggies</a></li>
                                <li><a href="shop.html"><span><img src="img/vertical-menu/9.png" alt="menu-icon"></span>Computer & Laptop</a></li>
                                <li><a href="shop.html"><span><img src="img/vertical-menu/10.png" alt="menu-icon"></span>Meat & Seafood</a></li>
                                <!-- More Categoies Start -->
                                <li id="cate-toggle" class="category-menu v-cat-menu">
                                    <ul>
                                        <li class="has-sub"><a href="#">More Categories</a>
                                            <ul class="category-sub">
                                                <li><a href="shop.html"><span><img src="img/vertical-menu/11.png" alt="menu-icon"></span>Accessories</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <!-- More Categoies End -->
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Vertical Menu End Here -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Categorie Menu & Slider Area End Here -->
    <!-- Breadcrumb Start -->
    <div class="breadcrumb-area mt-30">
        <div class="container">
            <div class="breadcrumb">
                <ul class="d-flex align-items-center">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/checkout/">Checkout</a></li>
                </ul>
            </div>
        </div>
        <!-- Container End -->
    </div>
    <!-- Breadcrumb End -->
    <!-- coupon-area start -->
<!--    <div class="coupon-area pt-100 pt-sm-60">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-md-12">-->
<!--                    <div class="coupon-accordion">-->
<!--                        &lt;!&ndash; ACCORDION START &ndash;&gt;-->
<!--                        <h3>Returning customer? <span id="showlogin">Click here to login</span></h3>-->
<!--                        <div id="checkout-login" class="coupon-content">-->
<!--                            <div class="coupon-info">-->
<!--                                <p class="coupon-text">Quisque gravida turpis sit amet nulla posuere lacinia. Cras sed est sit amet ipsum luctus.</p>-->
<!--                                <form action="#">-->
<!--                                    <p class="form-row-first">-->
<!--                                        <label>Username or email <span class="required">*</span></label>-->
<!--                                        <input type="text" />-->
<!--                                    </p>-->
<!--                                    <p class="form-row-last">-->
<!--                                        <label>Password  <span class="required">*</span></label>-->
<!--                                        <input type="text" />-->
<!--                                    </p>-->
<!--                                    <p class="form-row">-->
<!--                                        <input type="submit" value="Login" />-->
<!--                                        <label>-->
<!--                                        <input type="checkbox" />-->
<!--                                         Remember me-->
<!--                                    </label>-->
<!--                                    </p>-->
<!--                                    <p class="lost-password">-->
<!--                                        <a href="#">Lost your password?</a>-->
<!--                                    </p>-->
<!--                                </form>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; ACCORDION END &ndash;&gt;-->
<!--                        &lt;!&ndash; ACCORDION START &ndash;&gt;-->
<!--                        <h3>Have a coupon? <span id="showcoupon">Click here to enter your code</span></h3>-->
<!--                        <div id="checkout_coupon" class="coupon-checkout-content">-->
<!--                            <div class="coupon-info">-->
<!--                                <form action="#">-->
<!--                                    <p class="checkout-coupon">-->
<!--                                        <input type="text" class="code" placeholder="Coupon code" />-->
<!--                                        <input type="submit" value="Apply Coupon" />-->
<!--                                    </p>-->
<!--                                </form>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; ACCORDION END &ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <!-- coupon-area end -->
    <!-- checkout-area start -->
    <div class="checkout-area pb-100 pt-15 pb-sm-60">
        <div class="container">
            <form action="/cart/" method="post">
                <div class="row">
                    {% csrf_token %}
                    <input type="hidden" name="return_url" value="/orders/">
                    <input type="hidden" name="action" value="accepted">
                    <input type="hidden" name="order_id" value="{{ main_order.id }}">
                    <div class="col-lg-6 col-md-6">
                        <div class="checkbox-form mb-sm-40">
                            <h3>Billing Details</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="checkout-form-list mb-sm-30">
                                        <label>First Name <span class="required">*</span></label>
                                        <input type="text" name="first_name" required placeholder="" value="{{ main_order.first_name }}" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list mb-30">
                                        <label>Last Name <span class="required">*</span></label>
                                        <input type="text" name="last_name" required placeholder="" value="{{ main_order.last_name }}" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list mb-30">
                                        <label>Country</label>
                                        <input type="text" name="city" required placeholder="Town / City"value="{{ main_order.country }}"  />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list mb-30">
                                        <label>Town / City <span class="required">*</span></label>
                                        <input type="text" name="city" required placeholder="Town / City"value="{{ main_order.city }}"  />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Address <span class="required">*</span></label>
                                        <input type="text" name="address" placeholder="Street address" value="{{ main_order.address }}" />
                                    </div>
                                </div>
                                <br>
                                <div class="col-md-6">
                                    <div class="checkout-form-list mb-30">
                                        <label>Postcode / Zip </label>
                                        <input type="text" name="zip_code" placeholder="Postcode / Zip" value="{{ main_order.zip_code }}" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list mb-30">
                                        <label>Email Address <span class="required">*</span></label>
                                        <input type="email" name="email" required placeholder=""  value="{{ main_order.email }}" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list mb-30">
                                        <label>Phone  <span class="required">*</span></label>
                                        <input type="text" name="phone" required placeholder="Postcode / Zip" value="{{ main_order.phone }}" />
                                    </div>
                                </div>
                            </div>
                            <div class="order-notes">
                                <div class="checkout-form-list">
                                    <label>Order Notes</label>
                                    <textarea id="checkout-mess" cols="30" name="comment" rows="10" placeholder="Your wish...">{{ main_order.comment }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="your-order">
                            <h3>Your order</h3>
                            <div class="your-order-table table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product-name">Product</th>
                                            <th class="product-total">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for ci in order_items %}
                                        <tr class="cart_item">
                                            <td class="product-name">
                                                {{ ci.product.title }} <span class="product-quantity"> × {{ ci.amount }}</span>
                                            </td>
                                            <td class="product-total">
                                                <span class="amount">{{ ci.all_price }}</span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr class="cart-subtotal">
                                            <th>Cart Subtotal</th>
                                            <td><span class="amount">{{ main_order.orig_price }} tg</span></td>
                                        </tr>
                                        <tr class="cart-subtotal">
                                            <th>Discount</th>
                                            <td><span class="amount">{% if new_cart %} - {{ main_order.discount_int }} {% else %} 0 {% endif %} %</span></td>
                                        </tr>
                                        <tr class="order-total">
                                            <th>Order Total</th>
                                            <td><span class=" total amount">{{ main_order.price }} tg</span>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="wc-proceed-to-checkout" style="text-align: center;">
                                <button>Accepted</button>
                            </div>
    <!--                        <div class="payment-method">-->
    <!--                            <div id="accordion">-->
    <!--                                <div class="card">-->
    <!--                                    <div class="card-header" id="headingone">-->
    <!--                                        <h5 class="mb-0">-->
    <!--                                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">-->
    <!--                                              Direct Bank Transfer-->
    <!--                                            </button>-->
    <!--                                        </h5>-->
    <!--                                    </div>-->

    <!--                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingone" data-parent="#accordion">-->
    <!--                                        <div class="card-body">-->
    <!--                                            <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>-->
    <!--                                        </div>-->
    <!--                                    </div>-->
    <!--                                </div>-->
    <!--                                <div class="card">-->
    <!--                                    <div class="card-header" id="headingtwo">-->
    <!--                                        <h5 class="mb-0">-->
    <!--                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">-->
    <!--                                      Cheque Payment-->
    <!--                                    </button>-->
    <!--                                        </h5>-->
    <!--                                    </div>-->
    <!--                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingtwo" data-parent="#accordion">-->
    <!--                                        <div class="card-body">-->
    <!--                                            <p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>-->
    <!--                                        </div>-->
    <!--                                    </div>-->
    <!--                                </div>-->
    <!--                                <div class="card">-->
    <!--                                    <div class="card-header" id="headingthree">-->
    <!--                                        <h5 class="mb-0">-->
    <!--                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">-->
    <!--                                      PayPal-->
    <!--                                    </button>-->
    <!--                                        </h5>-->
    <!--                                    </div>-->
    <!--                                    <div id="collapseThree" class="collapse" aria-labelledby="headingthree" data-parent="#accordion">-->
    <!--                                        <div class="card-body">-->
    <!--                                             <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>-->
    <!--                                        </div>-->
    <!--                                    </div>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                        </div>-->
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- checkout-area end -->
    <!-- Support Area Start Here -->
    <div class="support-area bdr-top">
        <div class="container">
            <div class="d-flex flex-wrap text-center">
                <div class="single-support">
                    <div class="support-icon">
                        <i class="lnr lnr-gift"></i>
                    </div>
                    <div class="support-desc">
                        <h6>Great Value</h6>
                        <span>Nunc id ante quis tellus faucibus dictum in eget.</span>
                    </div>
                </div>
                <div class="single-support">
                    <div class="support-icon">
                        <i class="lnr lnr-rocket" ></i>
                    </div>
                    <div class="support-desc">
                        <h6>Worlwide Delivery</h6>
                        <span>Quisque posuere enim augue, in rhoncus diam dictum non</span>
                    </div>
                </div>
                <div class="single-support">
                    <div class="support-icon">
                       <i class="lnr lnr-lock"></i>
                    </div>
                    <div class="support-desc">
                        <h6>Safe Payment</h6>
                        <span>Duis suscipit elit sem, sed mattis tellus accumsan.</span>
                    </div>
                </div>
                <div class="single-support">
                    <div class="support-icon">
                       <i class="lnr lnr-enter-down"></i>
                    </div>
                    <div class="support-desc">
                        <h6>Shop Confidence</h6>
                        <span>Faucibus dictum suscipit eget metus. Duis  elit sem, sed.</span>
                    </div>
                </div>
                <div class="single-support">
                    <div class="support-icon">
                       <i class="lnr lnr-users"></i>
                    </div>
                    <div class="support-desc">
                        <h6>24/7 Help Center</h6>
                        <span>Quisque posuere enim augue, in rhoncus diam dictum non.</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container End -->
    </div>
    <!-- Support Area End Here -->
{% endblock %}